 * {
   box-sizing: border-box
 }
 
 .greeting-container h5 {
   background: #59ABE3;
   margin-bottom: 8px;
 }
 
 .profiles-container h5 {
   background: #3A539B;
   color: #fff;
   font-weight: 200;
   padding: 15px;
 }
 
 .profiles-container img {
   position: relative;
   border-radius: 50%;
   display: block;
   top: 10px;
 }
 
 .profiles-container p {
   font-weight: 700;
 }
 
 .profiles-container small {
   font-weight: 400;
   text-transform: capitalize;
 }

@media screen and (min-width: 769px) {
    .align-children {
      font-size: 0;
    }

    .align-children > *{
      display: inline-block;
      font-size: medium;
      width: 33%;
      padding: 18px;
      vertical-align: top;
    }
 }
